.thead{
    font-size: 21px;
}
.TableDataStatistical {
    border-collapse: collapse;
    width: 100%;
}

.TableDataStatistical td, .TableDataStatistical th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    padding: 25px 0;
}

.TableDataStatistical tr:nth-child(even) {
    background-color: #f2f2f2;
}

.TableDataStatistical tr:hover {
    background-color: #ddd;
}

.TableDataStatistical th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
tr.LiquidationTableRow{
    background-color: white;
}